<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>kmlncl</title>
    <link rel="stylesheet" href="{{site.base_url}}assets/normalize.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{site.base_url}}assets/style.css" type="text/css" media="screen" charset="utf-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.base_url}}assets/coin-slider.min.js"></script>
    <link rel="stylesheet" href="{{site.base_url}}assets/coin-slider-styles.css" type="text/css">
</head>

<body>
  
  <a href="https://github.com/rpavlick/kmlncl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div id='container'>

  <div id='cssmenu'>
  <ul>
     <li class='active has-sub fat'><a href='{{site.base_url}}index.html'><span>kmlncl</span></a>
        <ul>
           <li><a href='{{site.base_url}}index.html#installing_kmlncl'><span>Installing kmlncl</span></a></li>
           <li><a href='{{site.base_url}}index.html#feedback'><span>Feedback</span></a></li>
           <li><a href='{{site.base_url}}index.html#license'><span>License</span></a></li>
        </ul>
     </li>
     <li><a href='{{site.base_url}}examples'><span>Examples</span></a></li>
     <li class='has-sub '><a href='{{site.base_url}}functions'><span>Functions</span></a>
        <ul>
           <li><a href='{{site.base_url}}functions/alpha.html'><span>Alphabetical Listing</span></a></li>
           <li><a href='{{site.base_url}}functions/index.html'><span>Categorical Listing</span></a></li>
        </ul>
     </li>
     <li><a href='{{site.base_url}}resources/'><span>Resources</span></a></li>
     <li class='has-sub '><a href="#"><span>External</span></a>
        <ul>
           <li><a href='http://www.ncl.ucar.edu'><span>NCAR Command Language (NCL)</span></a></li>
           <li><a href='https://developers.google.com/kml/documentation/kmlreference'><span>Google KML Documentation</span></a></li>
           <li><a href='https://developers.google.com/kml/documentation/kmlreference'><span>Google KML Reference</span></a></li>
           <li><a href='http://www.google.com/earth'><span>Google Earth</span></a></li>       
           <li><a href='http://www.opengeospatial.org/standards/kml/'><span>OGC KML Specification</span></a></li>                 
        </ul>
      </li>
  </ul>
  </div>


        <section>

        {{ content }}

        </section>

        <footer>
            <div class="copyright">
                Copyright &copy; 2012 <a href="http://ourpaleblue.com/">Ryan Pavlick</a>, unless otherwise noted. Licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>. 
            </div>
        </footer>
    </div>

</body>

</html>
